.burger {
    display: none;
}

@media (max-width: 991px) {
    .burger {
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        flex-flow: column nowrap;
        width: 24px;
        height: 24px;
        z-index: 20;
    }

    .burger-line {
        width: 24px;
        height: 2px;
        border-radius: 20px;
        background-color: var(--text-color);
        transform-origin: 1px;
    }

    .burger-line-open {
        width: 24px;
        height: 2px;
        border-radius: 20px;
        background-color: var(--text-color);
        transform-origin: 1px;
    }


    .burger-line:nth-child(1) {
        transform: rotate(0);
    }

    .burger-line-open:nth-child(1) {
        transform: rotate(45deg);
    }

    .burger-line:nth-child(2) {
        transform: translateX(0);
        opacity: 1;
    }

    .burger-line-open:nth-child(2) {
        transform: translateX(100%);
        opacity: 0;
    }

    .burger-line:nth-child(3) {
        transform: rotate(0);
    }

    .burger-line-open:nth-child(3) {
        transform: rotate(-45deg);
    }
}