.language-btn-group {
    width: 48px;
    height: 20px;
    background: transparent;
    border: 1px solid var(--main-color);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}

.language-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-btn {
    width: 24px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: var(--main-color);
    cursor: pointer;
    padding: 0 1px;
}

.language-btn-activ {
    width: 24px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bg-color);
    background: var(--main-color);
    cursor: pointer;
    padding: 0 1px;
}